{% extends 'base.html' %} {% block content %}
<h1>Patient Profile: {{ patient.name }}</h1>
<p>Email: {{ patient.email }}</p>

<h2>Appointments</h2>
<ul>
	{% for appointment in appointments %}
	<li>
		{{ appointment.appointment_date.strftime('%Y-%m-%d') }} {{
		appointment.appointment_time.strftime('%H:%M') }} - Doctor: {{
		appointment.doctor.name }}
	</li>
	{% else %}
	<li>No appointments available.</li>
	{% endfor %}
</ul>

<h2>Medical Records</h2>
<ul>
	{% for record in medical_records %}
	<li>
		{{ record.id }} - {{ record.report }}
		<a
			href="{{ url_for('edit_medical_record', record_id=record.id) }}"
			class="btn btn-sm btn-secondary"
			>Edit</a
		>
		<form
			action="{{ url_for('delete_medical_record', record_id=record.id) }}"
			method="POST"
			style="display: inline"
		>
			<button type="submit" class="btn btn-sm btn-danger">Delete</button>
		</form>
	</li>
	{% else %}
	<li>No medical records available.</li>
	{% endfor %}
</ul>
<a
	href="{{ url_for('add_medical_record', appointment_id=0, patient_id=patient.id) }}"
	class="btn btn-secondary"
	>Add Medical Record</a
>

<h2>Prescriptions</h2>
<ul>
	{% for prescription in prescriptions %}
	<li>
		{{ prescription.date.strftime('%Y-%m-%d %H:%M') }} - {{
		prescription.medication }}: {{ prescription.dosage }} ({{
		prescription.instructions }})
		<a
			href="{{ url_for('edit_prescription', prescription_id=prescription.id) }}"
			class="btn btn-sm btn-secondary"
			>Edit</a
		>
		<form
			action="{{ url_for('delete_prescription', prescription_id=prescription.id) }}"
			method="POST"
			style="display: inline"
		>
			<button type="submit" class="btn btn-sm btn-danger">Delete</button>
		</form>
	</li>
	{% else %}
	<li>No prescriptions available.</li>
	{% endfor %}
</ul>
<a
	href="{{ url_for('issue_prescription', patient_id=patient.id) }}"
	class="btn btn-primary"
	>Add Prescription</a
>
{% endblock %}
