{% extends 'base.html' %} {% block content %}
<h1>Patient Profile: {{ patient.name }}</h1>
<p>Email: {{ patient.email }}</p>

<h2>Appointments</h2>
<ul>
	{% for appointment in appointments %}
	<li>
		{{ appointment.appointment_date.strftime('%Y-%m-%d') }} {{
		appointment.appointment_time.strftime('%H:%M') }} - Doctor: {{
		appointment.doctor.name }}
	</li>
	{% else %}
	<li>No appointments available.</li>
	{% endfor %}
</ul>

<h2>Medical Records</h2>
<ul>
	{% for record in medical_records %}
	<li>{{ record.id }} - {{ record.report }}</li>
	{% else %}
	<li>No medical records available.</li>
	{% endfor %}
</ul>

<h2>Prescriptions</h2>
<ul>
	{% for prescription in prescriptions %}
	<li>
		{{ prescription.date.strftime('%Y-%m-%d %H:%M') }} - {{
		prescription.medication }}: {{ prescription.dosage }} ({{
		prescription.instructions }})
	</li>
	{% else %}
	<li>No prescriptions available.</li>
	{% endfor %}
</ul>
{% endblock %}
